.gamer-card {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 310px;
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
}

.gamer-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.gamer-card-header {
    background-color: #222222;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

.gamer-card-body {
    padding: 20px;
    text-align: center;
}

.gamer-card-footer {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.gamer-card-footer button {
    background-color: #ff5500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gamer-card-footer button:hover {
    background-color: #ff3300;
    /
}